body {
    background-color: whitesmoke;
}
.carousel3d {
    height: 300px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(black, whitesmoke);
    -webkit-border-radius: 12px;
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 50%;
}

.carousel3d .button {
    height: 15px;
    width: 100px;
    align-self: flex-end;
    background-color: white;
    border: 2px solid black;
}

.carousel3d .img {
    position: absolute;
    top: 15%;
    height: 35vw;
    width: 840px;
	object-fit: cover;
    border: 1px solid white;
    -webkit-border-radius: 12px;
    -webkit-box-sizing: border-box;
    background-color: white;
    opacity: 0.9;
    -webkit-transition: -webkit-transform 1.5s, z-index 0.1s;
}

/* For mobile phones: */
.carousel3d > .n0 {-webkit-transform: translate3d(-15vw,0,0);animation: light0 3s linear infinite; z-index: 11;}
.carousel3d > .n1 {-webkit-transform: rotateY(-60deg) translate3d(-21vw,0,-23vw); animation: light1 3s linear infinite; z-index: 10;}
.carousel3d > .n2 {-webkit-transform: rotateY(-60deg) translate3d(-20vw,0,-24vw); animation: light1 3s linear infinite; z-index: 9;}
.carousel3d > .n3 {-webkit-transform: rotateY(-60deg) translate3d(-19vw,0,-25vw); animation: light2 3s linear infinite; z-index: 8;}
.carousel3d > .n4 {-webkit-transform: rotateY(-60deg) translate3d(-18vw,0,-26vw); animation: light2 3s linear infinite; z-index: 7;}
.carousel3d > .n5 {-webkit-transform: rotateY(-60deg) translate3d(-17vw,0,-27vw); animation: light3 3s linear infinite; z-index: 6;}
.carousel3d > .n-5 {-webkit-transform: rotateY(-60deg) translate3d(-16vw,0,-28vw); animation: light3 3s linear infinite; z-index: 5;}
.carousel3d > .n-4 {-webkit-transform: rotateY(-60deg) translate3d(-15vw,0,-29vw); animation: light4 3s linear infinite; z-index: 4;}
.carousel3d > .n-3 {-webkit-transform: rotateY(-60deg) translate3d(-14vw,0,-30vw); animation: light4 3s linear infinite; z-index: 3;}
.carousel3d > .n-2 {-webkit-transform: rotateY(-60deg) translate3d(-13vw,0,-31vw); animation: light5 3s linear infinite; z-index: 2;}
.carousel3d > .n-1 {-webkit-transform: rotateY(-60deg) translate3d(-12vw,0,-32vw); animation: light5 3s linear infinite; z-index: 1;}
/* For desktop: */
@media all and (min-width: 768px) {
    .carousel3d .img {height: 200px;}
    .carousel3d > .n-5 {-webkit-transform: rotateY(90deg) translate3d(215px,0,-37vw); animation: light5 3s linear infinite; z-index: 6;}
    .carousel3d > .n-4 {-webkit-transform: rotateY(90deg) translate3d(215px,0,-36vw); animation: light4 3s linear infinite; z-index: 7;}
    .carousel3d > .n-3 {-webkit-transform: rotateY(90deg) translate3d(215px,0,-35vw); animation: light3 3s linear infinite; z-index: 8;}
    .carousel3d > .n-2 {-webkit-transform: rotateY(90deg) translate3d(215px,0,-34vw); animation: light2 3s linear infinite; z-index: 9;}
    .carousel3d > .n-1 {-webkit-transform: rotateY(90deg) translate3d(215px,0,-33vw); animation: light1 3s linear infinite; z-index: 10;}
    .carousel3d > .n0 {-webkit-transform: translate3d(0,0,0);animation: light0 3s linear infinite; z-index: 11;}
    .carousel3d > .n1 {-webkit-transform: rotateY(-90deg) translate3d(-215px,0,-33vw); animation: light1 3s linear infinite; z-index: 10;}
    .carousel3d > .n2 {-webkit-transform: rotateY(-90deg) translate3d(-215px,0,-34vw); animation: light2 3s linear infinite; z-index: 9;}
    .carousel3d > .n3 {-webkit-transform: rotateY(-90deg) translate3d(-215px,0,-35vw); animation: light3 3s linear infinite; z-index: 8;}
    .carousel3d > .n4 {-webkit-transform: rotateY(-90deg) translate3d(-215px,0,-36vw); animation: light4 3s linear infinite; z-index: 7;}
    .carousel3d > .n5 {-webkit-transform: rotateY(-90deg) translate3d(-215px,0,-37vw); animation: light5 3s linear infinite; z-index: 6;}
}

@media all and (max-width: 1300px) {
    .carousel3d > .n0 {width: 64vw;}
}

@keyframes light0 {
    0%   {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    14%  {-webkit-box-shadow: 0px 0px 50px 0px aqua;}
    28%  {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    100% {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
}
@keyframes light1 {
    0%   {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    14%  {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    28%  {-webkit-box-shadow: 0px 0px 50px 0px aqua;}
    42%  {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    100% {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
}
@keyframes light2 {
    0%   {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    28%  {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    42%  {-webkit-box-shadow: 0px 0px 50px 0px aqua;}
    56%  {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    100% {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
}
@keyframes light3 {
    0%   {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    42%  {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    56%  {-webkit-box-shadow: 0px 0px 50px 0px aqua;}
    70%  {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    100% {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
}
@keyframes light4 {
    0%   {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    56%  {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    70%  {-webkit-box-shadow: 0px 0px 50px 0px aqua;}
    84%  {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    100% {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
}
@keyframes light5 {
    0%   {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    70%  {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
    84%  {-webkit-box-shadow: 0px 0px 50px 0px aqua;}
    100% {-webkit-box-shadow: 0px 0px 0px 0px aqua;}
}
